// FFMPEGSourceMFCSample.rc - Resource file for FFMPEG Source MFC Sample
#include "resource.h"
#include <afxres.h>

IDD_FFMPEGSOURCE_DIALOG DIALOGEX 0, 0, 640, 420
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "FFMPEG Source Filter - MFC Sample"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Source Settings", IDC_STATIC, 7, 7, 225, 85
    LTEXT           "File / URL:", IDC_STATIC, 14, 22, 35, 8
    EDITTEXT        IDC_EDIT_FILENAME, 52, 20, 145, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BTN_BROWSE, 200, 20, 25, 14
    LTEXT           "Timeout (ms):", IDC_STATIC, 14, 42, 48, 8
    EDITTEXT        IDC_EDIT_TIMEOUT, 65, 40, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Buffering:", IDC_STATIC, 115, 42, 35, 8
    COMBOBOX        IDC_COMBO_BUFFERING, 152, 40, 55, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Use GPU", IDC_CHECK_GPU, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 62, 45, 10
    LTEXT           "(set before Start)", IDC_STATIC, 65, 63, 70, 8

    GROUPBOX        "Stream Selection", IDC_STATIC, 7, 95, 225, 50
    LTEXT           "Video:", IDC_STATIC, 14, 112, 22, 8
    COMBOBOX        IDC_COMBO_VIDEO_STREAM, 40, 110, 185, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Audio:", IDC_STATIC, 14, 130, 22, 8
    COMBOBOX        IDC_COMBO_AUDIO_STREAM, 40, 128, 185, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Timeline", IDC_STATIC, 7, 148, 225, 50
    CONTROL         "", IDC_SLIDER_TIMELINE, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 14, 162, 210, 15
    LTEXT           "00:00:00 / 00:00:00", IDC_STATIC_TIME, 14, 180, 100, 8

    GROUPBOX        "Speed", IDC_STATIC, 7, 200, 225, 35
    CONTROL         "", IDC_SLIDER_SPEED, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 14, 214, 180, 15
    LTEXT           "1.0x", IDC_STATIC_SPEED_VAL, 198, 216, 25, 8

    PUSHBUTTON      "Start", IDC_BTN_START, 14, 242, 50, 20
    PUSHBUTTON      "Pause", IDC_BTN_PAUSE, 70, 242, 50, 20
    PUSHBUTTON      "Resume", IDC_BTN_RESUME, 126, 242, 50, 20
    PUSHBUTTON      "Stop", IDC_BTN_STOP, 182, 242, 50, 20

    GROUPBOX        "Video Preview", IDC_STATIC, 240, 7, 393, 310
    CONTROL         "", IDC_VIDEO_AREA, "Static", SS_BLACKRECT, 247, 18, 379, 293

    GROUPBOX        "Log", IDC_STATIC, 7, 268, 225, 145
    LISTBOX         IDC_LIST_LOG, 14, 280, 211, 127, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Info", IDC_STATIC, 240, 320, 393, 93
    LISTBOX         IDC_STATIC, 247, 332, 379, 75, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | NOT WS_TABSTOP | LBS_NOSEL
END
