// ScreenCaptureMFCSample.rc - Resource file for MFC Sample
#include "resource.h"
#include <afxres.h>

IDD_SCREENCAPTURE_DIALOG DIALOGEX 0, 0, 480, 340
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "ScreenCaptureFilterDD - MFC Sample"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Capture Settings", IDC_STATIC, 7, 7, 200, 145
    LTEXT           "Mode:", IDC_STATIC, 14, 22, 30, 8
    COMBOBOX        IDC_COMBO_MODE, 50, 20, 150, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "FPS:", IDC_STATIC, 14, 42, 30, 8
    EDITTEXT        IDC_EDIT_FPS, 50, 40, 50, 14, ES_AUTOHSCROLL
    LTEXT           "Rect:", IDC_STATIC, 14, 62, 30, 8
    LTEXT           "L:", IDC_STATIC, 50, 62, 10, 8
    EDITTEXT        IDC_EDIT_LEFT, 62, 60, 35, 14, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "T:", IDC_STATIC, 102, 62, 10, 8
    EDITTEXT        IDC_EDIT_TOP, 114, 60, 35, 14, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "R:", IDC_STATIC, 50, 82, 10, 8
    EDITTEXT        IDC_EDIT_RIGHT, 62, 80, 35, 14, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "B:", IDC_STATIC, 102, 82, 10, 8
    EDITTEXT        IDC_EDIT_BOTTOM, 114, 80, 35, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Draw mouse cursor", IDC_CHECK_MOUSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 102, 80, 10
    PUSHBUTTON      "Pick Window", IDC_BTN_PICK, 14, 116, 70, 14
    PUSHBUTTON      "Start", IDC_BTN_START, 14, 134, 60, 20
    PUSHBUTTON      "Stop", IDC_BTN_STOP, 84, 134, 60, 20

    GROUPBOX        "Video Preview", IDC_STATIC, 215, 7, 258, 200
    CONTROL         "", IDC_VIDEO_AREA, "Static", SS_BLACKRECT, 222, 18, 244, 183

    GROUPBOX        "Log", IDC_STATIC, 7, 155, 200, 178
    LISTBOX         IDC_LIST_LOG, 14, 167, 186, 160, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END
